<div class="content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2 class="page-title" style="margin-top:5%">Add User</h2>
                <div class="panel panel-default">
                    <div class="panel-heading">Add User</div>
                    <div class="panel-body">
                        <form action="/Home/UserAdd" method="post" class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">User_name:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="user_name" id="hostel_name" value="" required="required">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">User_Password:</label>
                                <div class="col-sm-8">
                                    <input type="password" class="form-control" name="user_passwd" id="hostel_passwd" value="" required="required">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">User_role:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" value="hostel_clerk" name="user_role" id="user_role" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Hostel Assigned:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" value="@ViewBag.hostel" name="hostel_id" id="hostel_id" disabled>
                                </div>
                            </div>
                            <div class="col-sm-8 col-sm-offset-2">
                                <input class="btn btn-primary" type="submit" id="submitButton" name="submit" value="Add">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var result = false;
    $('input[name=user_name]').blur(function (e) {
        $.ajax({
            url: "/Home/checkUser?username=" + $('input[name=user_name]').val(),
            type: "GET",
            success: function (data) {
                if (data.user_available) {
                    window.alert("Username already existing!")
                } else {
                    result = true;
                }
            }
        });
    });

    $("form").submit(function (e) {
        if (!result) {
            alert("Username already existing!")
        }
        return result;
    })

</script>
