<script>
    function valid() {

        if (document.changepwd.newpassword.value != document.changepwd.cpassword.value) {
            alert("Password and Re-Type Password Field do not match  !!");
            document.changepwd.cpassword.focus();
            return false;
        }
        else if (document.changepwd.newpassword.value == null || document.changepwd.cpassword.value == null){
            alert("Please enter new password ");
            document.changepwd.cpassword.focus();
            return false;
        }
        return true;
    }
</script>
<div class="content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2 class="page-title" style="margin-top:5%">Change Password </h2>
                <div class="row"></div>
                <div class="col-md-10">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-body">
                                <form method="post" action="/Home/Change" class="form-horizontal" name="changepwd" id="change-pwd" onSubmit="return valid();">
                                    <p style="color: red">
                                        <div class="hr-dashed"></div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Old Password </label>
                                            <div class="col-sm-8">
                                                <input type="password" value="" name="oldpassword" id="oldpassword" class="form-control" onBlur="checkpass()" required="required">
                                                <span id="password-availability-status" class="help-block m-b-none" style="font-size:12px;"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">New Password</label>
                                            <div class="col-sm-8">
                                                <input type="password" class="form-control" name="newpassword" id="newpassword" value="" required="required">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Confirm Password</label>
                                            <div class="col-sm-8">
                                                <input type="password" class="form-control" value="" required="required" id="cpassword" name="cpassword">
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-sm-offset-4">
                                            <button class="btn btn-default" type="submit">Cancel</button>
                                            <input type="submit" name="changepwd" Value="Change Password" class="btn btn-primary">
                                        </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>