<nav class="ts-sidebar">
    <ul class="ts-sidebar-menu">
        <li class="ts-label">Main</li>
        <li><a href="/ChairmanHallCouncil/Addhostel"><i class="fa fa-plus"></i>Add Hostel</a></li>
        <li><a href="/ChairmanHallCouncil/View_hostels"><i class="fa fa-bed"></i>View Hostels</a></li>
        <li><a href="/ChairmanHallCouncil/AddUser"><i class="fa fa-user-plus"></i>Add User</a></li>
        <li><a href="/ChairmanHallCouncil/View_Users"><i class="fa fa-users"></i>View Users</a></li>
        <li><a href="/ChairmanHallCouncil/View_Allottments"><i class="fa fa-user"></i>View Allottments</a></li>
        <li><a href="/ChairmanHallCouncil/Change_password"><i class="fa fa-key"></i>Change Password</a></li>
    </ul>
</nav>