<nav class="ts-sidebar">
    <ul class="ts-sidebar-menu">
        <li class="ts-label">Main</li>
        <li><a href="/ChairmanHallCouncil/Addhostel"><i class="fa fa-building"></i>Add Hostel</a></li>
        <li><a href="/ChairmanHallCouncil/View_hostels"><i class="fa fa-bed"></i>View Hostels</a></li>
        <li><a href="/ChairmanHallCouncil/Change_password"><i class="fa fa-key"></i>Change Password</a></li>
    </ul>
</nav>