<nav class="ts-sidebar">
    <ul class="ts-sidebar-menu">
        <li class="ts-label">Main</li>
        <li><a href="/HallCouncilClerk/addhostel"><i class="fa fa-building"></i>Add Hostel</a></li>
        <li><a href="/HallCouncilClerk/adduser"><i class="fa fa-user"></i>Add User</a></li>
        <li><a href="/HallCouncilClerk/view_hostels"><i class="fa fa-bed"></i>View Hostels</a></li>
        <li><a href="/HallCouncilClerk/viewusers"><i class="fa fa-users"></i>View Users</a></li>
        <li><a href="/HallCouncilClerk/change_password"><i class="fa fa-key"></i>Change Password</a></li>
    </ul>
</nav>
