<div class="brand clearfix">
    <a href="#" class="logo text-white" style="font-size:16px;">Hostel Management System</a>
    <ul class="ts-profile-nav">
        <li class="ts-account">
        <li><a href="/Home/Logout">Logout</a></li>
    </ul>
</div>
