<nav class="ts-sidebar">
    <ul class="ts-sidebar-menu">
        <li class="ts-label">Main</li>
        <li><a href="/HostelClerk/Addroom"><i class="fa fa-bed"></i>Add Room</a></li>
        <li><a href="/HostelClerk/View_rooms"><i class="fa fa-users"></i>View Rooms</a></li>
        <li><a href="/HostelClerk/Add_allotment"><i class="fa fa-user"></i>Add New Allotment</a></li>
        <li><a href="/HostelClerk/View_Allottment"><i class="fa fa-users"></i>View Allottments</a></li>
        <li><a href="/HostelClerk/Manage_MessDues"><i class="fa fa-money"></i>Manage Mess Dues</a></li>
        <li><a href="/HostelClerk/View_StudentsMess"><i class="fa fa-money"></i>View Mess Record</a></li>
        <li><a href="/HostelClerk/Manage_AnnualDues"><i class="fa fa-money"></i>Manage Annual Dues</a></li>
        <li><a href="/HostelClerk/View_AnnualRecords"><i class="fa fa-money"></i>View Annual Record</a></li>
        <li><a href="/HostelClerk/View_Students"><i class="fa fa-users"></i>View Students</a></li>
        <li><a href="/HostelClerk/Change_password"><i class="fa fa-key"></i>Change Password</a></li>
    </ul>
</nav>
