<nav class="ts-sidebar">
    <ul class="ts-sidebar-menu">
        <li class="ts-label">Main</li>
        <li><a href="/Student/Dashboard"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li><a href="/Student/View_AnnualDues"><i class="fa fa-money"></i>View Annual Dues</a></li>
        <li><a href="/Student/View_MessDues"><i class="fa fa-money"></i>View Mess Dues</a></li>
        <li><a href="/Student/Change_password"><i class="fa fa-key"></i>Change Password</a></li>
    </ul>
</nav>
