<nav class="ts-sidebar">
    <ul class="ts-sidebar-menu">
        <li class="ts-label">Main</li>
        <li><a href="/Superitendant/Adduser"><i class="fa fa-user"></i>Add Hostel Clerk</a></li>
        <li><a href="/Superitendant/View_rooms"><i class="fa fa-bed"></i>View Rooms</a></li>
        <li><a href="/Superitendant/Change_password"><i class="fa fa-key"></i>Change Password</a></li>
    </ul>
</nav>
