
<nav class="ts-sidebar">
    <ul class="ts-sidebar-menu">
        <li class="ts-label">Main</li>
        <li><a href="/ViceChancellor/View_hostels"><i class="fa fa-building"></i>View Hostels</a></li>
        <li><a href="/ViceChancellor/View_Allottments"><i class="fa fa-user"></i>View Allottments</a></li>
        <li><a href="/ViceChancellor/View_Users"><i class="fa fa-users"></i>View Users</a></li>
        <li><a href="/ViceChancellor/Change_password"><i class="fa fa-key"></i>Change Password</a></li>
    </ul>
</nav>