
<div class="ts-main-content">
		
<div class="brand clearfix">
		<a href="#" class="logo text-white" style="font-size:16px;">Hostel Management System</a>
		<ul class="ts-profile-nav">
			<li class="ts-account">
					<li><a href="/Home/Logout">Logout</a></li>
		</ul>
	</div>
	<nav class="ts-sidebar">
        <ul class="ts-sidebar-menu">
            <li class="ts-label">Main</li>
            <li><a href="/HallCouncilClerk/addhostel"><i class="fa fa-dashboard"></i>Add Hostel</a></li>
            <li><a href="/HallCouncilClerk/addroom"><i class="fa fa-user"></i>Add Room</a></li>
            <li><a href="/HallCouncilClerk/adduser"><i class="fa fa-users"></i>Add User</a></li>
            <li><a href="/HallCouncilClerk/view_rooms"><i class="fa fa-users"></i>View Rooms</a></li>
            <li><a href="/HallCouncilClerk/view_hostels"><i class="fa fa-users"></i>View Hostels</a></li>
            <li><a href="/HallCouncilClerk/viewusers"><i class="fa fa-users"></i>View Users</a></li>
        </ul>
	</nav>

		<div class="content-wrapper">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<h2 class="page-title">Add Room </h2>
						<div class="row">
							<div class="col-md-12">
								<div class="panel panel-default">
									<div class="panel-heading">Add a Room</div>
									<div class="panel-body">
                                        <form method="post" action="/HallCouncilClerk/roomAdd" class="form-horizontal">
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Hostel Id.</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" name="hostel_id" id="rmno" value="" required="required">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Room No.</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" name="rmno" id="rmno" value="" required="required">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Select Room Type  </label>
                                                <div class="col-sm-8">
                                                    <select name="rtype" class="form-control" required>
                                                        <option value="">Select Room Type</option>
                                                        <option value="Dormitory">Dormitory</option>
                                                        <option value="Cubical">Cubical</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="hr-dashed"></div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Select Seater  </label>
                                                <div class="col-sm-8">
                                                    <Select name="seater" class="form-control" required>
                                                        <option value="">Select Seater</option>
                                                        <option value="1">Single Seater</option>
                                                        <option value="2">Two Seater</option>
                                                        <option value="3">Three Seater</option>
                                                        <option value="4">Four Seater</option>
                                                    </Select>
                                                </div>
                                            </div>
                                            <div class="hr-dashed"></div>
                                            <div class="col-sm-8 col-sm-offset-2">
                                                <input class="btn btn-primary" id="submitButton" type="submit" name="submit" value="Create Room ">
                                            </div>
                                        </form>
									</div>
								</div>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
    </div>
<script>
    $(document).ready(function () {
        $("#submitButton").on("click", function () {
            alert('User has been added succesfully');
        });

    });
</script>
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap-select.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.dataTables.min.js"></script>
	<script src="js/dataTables.bootstrap.min.js"></script>
	<script src="js/Chart.min.js"></script>
	<script src="js/fileinput.js"></script>
	<script src="js/chartData.js"></script>
	<script src="js/main.js"></script>
