@model dynamic
<div>
    @Html.Partial("Header");
</div>
<div class="ts-main-content">
    @Html.Partial("Superitendant_Sidebar");
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="page-title">Manage Annual Dues</h2>
                    <div class="panel panel-default">
                        <div class="panel-heading">All Room Details</div>
                        <div class="panel-body">
                            <table id="zctb" class="display table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Allotte Name</th>
                                        <th>Amount</th>
                                        <th>Fine(if any)</th>
                                        <th>Year</th>
                                        <th>Last date</th>
                                        <th>Paid Status</th>
                                        <th>Paid Date</th>
                                        <th>Recipt No.</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ foreach (var x in Model.b)
                                        {
                                            <tr>
                                                <td>@ViewBag.user</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>